<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$wa->appName()} - {$wa->accountName()}</title>
{$wa->css()}

{wa_js}
  {$wa_url}wa-content/js/jquery/jquery-1.11.1.min.js
  {$wa_url}wa-content/js/jquery-wa/wa.js
{/wa_js}

<!--
  // To be consistent and have the same settings object for all applications,
  // we need to have one place where we can configure this object.
-->
<script>
  (function webkitConfigInit(window) {
    window.webkitBackendUrls = {
      backendApiUrl: '{$backend_api_url}',
      backendAppStaticUrl: '{$backend_app_static_url}'
    }
  })(window);
</script>

<!-- Load Fontawesome for the Basic Icon component -->
<link href="{$wa_app_static_url}plugins/basic/css/fontawesome/all.min.css" rel="stylesheet" />

<script src="{$wa_app_static_url}js/webkit.js"></script>
